/* vertical Navbar */

.vertical-navbar {
  background-color: #1e1e1e;
  display: flex;
  position: fixed;
  z-index: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 114px;
  opacity: 100%;
  overflow: hidden;
  height: 0%;
  transition: all 0.4s ease-out;
}

.vertical-navbar a {
  font-size: 1.4rem;
  color: #F9B104;
}

.vertical-navbar ul {
  padding: 0;
  margin-top: 10px;
  margin: 0 15px;
}

.vertical-navbar ul li {
  margin: 15px 0;
}

/* fin vertical Navbar */

/* burger */

.burger {
  background: none;
  border: none;
  width: 35px;
  height: 35px;
  cursor: pointer;
  padding-bottom: 1rem;
  margin-left: 25px;
  position: relative;
}

.burger .bar {
  display: block;
  width: 35px;
  height: 5px;
  background: #F9B104;
  position: absolute;
}

.burger .bar::before, .burger .bar::after {
  content: "";
  position: absolute;
  display: block;
  width: 35px;
  height: 5px;
  background: #F9B104;
  transition: all 0.2s ease-in-out;
}

.burger .bar::before {
  transform: translateY(-15px);
}

.burger .bar::after {
  transform: translateY(15px);
}

.show-vnav {
  height: auto;
}

.burgerAnim .bar {
  width: 0;
}

.burgerAnim .bar::before {
  transform: rotate(45deg);
}

.burgerAnim .bar::after {
  transform: rotate(-45deg);
}

/* fin burger */