/* Test */

/* * {
  border: 2px solid red;
} */

/* fin Test */

/* General */

body {
  display: relative;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-size: 15px;
  height: 100vh;
}

.unstyled-list {
  list-style: none;
  padding: none;
}

a {
  text-decoration: none;
  color: white;
}

img {
  margin: 5px 10px;
}

@media screen and (max-width:1069px) {
  footer .contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* fin General */